<a href="https://colab.research.google.com/github/Dima2865/SII_Labs/blob/main/SII_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#кол-во записей
N <- 100
Nrow <- 1:N

In [ ]:
#генерацияя рандомных сотрудников
gen_name <- function(x) {
  name_list <- c("Андрей", "Марина", "Сергей", "Иван", "Петр", "Игорь", "Маша", "Саша")
  surname_list<- c("Андреев", "Андреева", "Сорокин", "Поляков", "Григорьев", "Рубин", "Котельникова", "Осадчий")
  
  names_len <- length(name_list)
  
  emp_name <- paste(
    name_list[sample(1:names_len, 1)], 
    surname_list[sample(1:names_len, 1)]
  )
  emp_name
}

Name <- sapply(Nrow, gen_name)

In [ ]:
#генерация года рождения
gen_empl_year <- function(birthday) {
  sample((birthday + 18):2006, 1)
}
BirthYear <- sample(1965:1990, N, replace=T)

#генерация года приема на работу
EmployYear <- sapply(BirthYear, gen_empl_year)

#генерация ЗП
Salary <- sample(10000:30000, N, replace=T)

In [ ]:
df <- data.frame(
  Nrow=Nrow,
  Name=Name,
  BirthYear=BirthYear,
  EmployYear=EmployYear,
  Salary=Salary
)

head(df)

  Nrow Name                BirthYear EmployYear Salary
1 1    Петр Поляков        1976      1997       16295
2 2    Марина Котельникова 1966      1995       25807
3 3    Саша Сорокин        1988      1376       19202
4 4    Иван Григорьев      1978      2002       15301
5 5    Сергей Андреева     1987      2005       14479
6 6    Иван Осадчий        1976      2001       23935

In [ ]:
salary_cmp_count <- nrow(df[df$Salary > 15000,])
cat(sprintf("Число сотрудников с зарплатой, больше 15000: %i", salary_cmp_count))

Число сотрудников с зарплатой, больше 15000: 76

In [ ]:
# расчет суммарного подоходного налога за все время работы в организации
currrent_year <- as.numeric(format(Sys.Date(), format="%Y"))
df$TotalIncomeTax <- with(df, (currrent_year - EmployYear)*Salary*0.13)

# финальный результат
head(df)

  Nrow Name                BirthYear EmployYear Salary TotalIncomeTax
1 1    Петр Поляков        1976      1997       16295    52958.75
2 2    Марина Котельникова 1966      1995       25807    90582.57
3 3    Саша Сорокин        1988      1376       19202  1612583.96
4 4    Иван Григорьев      1978      2002       15301    39782.60
5 5    Сергей Андреева     1987      2005       14479    31998.59
6 6    Иван Осадчий        1976      2001       23935    65342.55